{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% trans 'Send test email' %}
</div>
{% endblock %}

{% block content %}
<h2>{% trans "Send Test Email" %}</h2>
<p>Use the form below to populate the email attributes.</p>
<ul>
{% for template in templates %}
    <li><strong>{{ template.name }}</strong>: "{{ template.subject }}"</li>
{% endfor %}
</ul>
<fieldset class="module aligned">
    <form method="post">{% csrf_token %}
    {% for f in form %}
    <div class="form-row field-name">
        <div>
            {{ f.label }}
            {{ f }}
            <p class="help">Template name - must be unique for a given language/version combination.</p>
        </div>
    </div>
    {% endfor %}
    </form>
</fieldset>

{% endblock %}
